enable
configure terminal

hostname R1-IKEV1-POLICY
no ip domain-lookup

banner motd #
Proyecto: IPSec IKEv1 Policy-Based VPN
Equipo: R1 - Peer VPN
Nombre: Michael Robles
Matricula: 20250845
#

interface GigabitEthernet0/0
 description WAN-HACIA-ISP-G0/0
 ip address 20.25.8.46 255.255.255.252
 no shutdown

interface GigabitEthernet0/1
 description LAN-A-HACIA-SW1-G0/0
 ip address 192.168.45.1 255.255.255.0
 no shutdown

ip route 0.0.0.0 0.0.0.0 20.25.8.45

crypto isakmp policy 10
 encr aes 256
 hash sha
 authentication pre-share
 group 14
 lifetime 86400

crypto isakmp key ITLA20250845 address 20.25.8.50

crypto ipsec transform-set TS-IKEV1 esp-aes 256 esp-sha-hmac
 mode tunnel

access-list 110 remark TRAFICO_INTERESANTE_LAN_A_HACIA_LAN_B
access-list 110 permit ip 192.168.45.0 0.0.0.255 192.168.84.0 0.0.0.255

crypto map MAP-IKEV1 10 ipsec-isakmp
 description VPN-IKEV1-POLICY-HACIA-R2
 set peer 20.25.8.50
 set transform-set TS-IKEV1
 match address 110

interface GigabitEthernet0/0
 crypto map MAP-IKEV1

end
write memory
